@import url(./reset.css);
@import url(./variables.css);
@import url(./navbar.css);
@import url(./scrollbar.css);

body {
  overflow: hidden;
  color: var(--lynx-brown-color);
}

/* BUTTON */
.btn {
  color: var(--white-color);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-2);
  padding: 0.8em;
  margin: 0.8em;
  border-radius: 0.25em;
  filter: brightness(100%);
  transform: scale(1);
  box-shadow: var(--title-btn-shadow);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  filter: brightness(110%);
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--lynx-brown-color);
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content {
  max-width: 60%;
  width: 55%;
  text-align: center;
}

.hero-title {
  font-size: var(--landing-page-title);
  font-weight: var(--font-weight-2);
  padding: 0.3em;
  line-height: 1.3em;
}

.hero-desc {
  font-size: var(--font-size-2);
  padding: 0.6em;
  line-height: 1.5em;
  font-weight: var(--font-weight-3);
}

.hero-btns {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* MEDIA QUERIES */
@media (min-width: 1200px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 60%;
  }

  .hero-content {
    max-width: 80%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 50%;
  }
  .hero-content {
    max-width: 100%;
    width: 100%;
    padding-bottom: 5rem;
  }

  .btn {
    font-size: var(--font-size-4);
  }
}
