/* BACKGROUND CLASSES */
.primary-bg {
  background-color: var(--primary-color);
}

.gray-bg {
  background-color: var(--gray-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.success-bg {
  background-color: var(--success-color);
}

.info-bg {
  background-color: var(--info-color);
}

.warning-bg {
  background-color: var(--warning-color);
}

.danger-bg {
  background-color: var(--danger-color);
}

/* TEXT-COLOR CLASSES */

.highlight {
  color: var(--primary-color);
}

.error-highlight {
  color: var(--danger-color);
}

.success-highlight {
  color: var(--success-color);
}

/* OVERFLOW */
.overflow {
  overflow: hidden;
}
