.card {
  max-width: 30rem;
  height: max-content;
  margin: 1rem;
  background: var(--white-color);
  border-radius: var(--border-radius);
  box-shadow: var(--dark-shadow);
  position: relative;
}

.card-head {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, auto);
}

.card-dismiss {
  position: absolute;
  z-index: 22;
  font-size: var(--font-size-3);
  top: 0.5rem;
  right: 0.5rem;
  width: min-content;
  font-weight: var(--font-weight-2);
  color: var(--white-color);
  cursor: pointer;
}

.card-header {
  position: relative;
  margin-top: 1rem;
  padding: 0 1rem;
  grid-column: 1/-1;
  overflow: hidden;
}

.card-image {
  position: relative;
  grid-column: 1/-1;
}

.card-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16/9;
  max-height: 200px;
}

.card-title {
  font-size: 2rem;
  font-weight: 700;
}

.card-subtitle {
  font-weight: 500;
}

.card-body {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.card-text {
  font-size: 1.4rem;
  color: var(--font-color);
}

/* SOCIAL CARD */
.social .card-header {
  display: flex;
  align-items: center;
  order: -1;
  margin: 1rem 0;
}

/* ECOMMERCE CARD */
.ecommerce .card-image {
  grid-column: 1;
}

.card-price {
  font-size: 1.5rem;
}

.card-badge {
  position: absolute;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: var(--font-size-5);
  text-align: left;
  padding: 0.3rem 1rem;
  top: 1.5rem;
  z-index: 2;
  clip-path: polygon(100% 0, 91% 48%, 100% 100%, 0% 100%, 0 44%, 0% 0%);
}

/* CARD-PRICING */
.price-now {
  font-weight: 500;
  margin-right: 0.5rem;
}

.price-before {
  text-decoration: line-through;
  opacity: 0.7;
  margin-right: 0.5rem;
}

.price-discount {
  color: var(--danger-color);
}

/* CARD ICON */
.card-icon {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.card-icon > svg {
  height: 2rem;
  fill: var(--secondary-color);
  transition: fill 200ms ease-in-out;
}

.card-icon:hover svg {
  fill: var(--danger-color);
}

/* FOOTER */
.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* overlay */
.card-head.overlay > .card-header {
  grid-column: 1/-1;
  grid-row: 2/3;
  color: var(--white-color);
  bottom: 2rem;
}

.card-head.overlay > .card-image {
  grid-column: 1/-1;
  grid-row: 1/3;
}

/* horizontal */

.card-head.horizontal > .card-image {
  grid-column: 1/2;
}

.card-head.horizontal > .card-header {
  grid-column: 2/3;
}

/* horizontal e-commerce */

.horizontal-card {
  display: flex;
  margin: 4rem 0;
  max-width: 70rem;
  width: 60rem;
  height: 20rem;
  border-radius: 0.25rem;
  background-color: var(--secondary-color);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.horizontal-card-img {
  width: 20%;
}

.horizontal-card-img img {
  height: 100%;
}

.horizontal-card-content {
  padding: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.horizontal-card-text {
  padding: 0 2rem;
}

.horizontal-card-title,
.size,
.quantity-label,
.quantity,
.horizontal-card .card-rating,
.horizontal-card .card-price {
  padding: 0.5rem;
}

.horizontal-card-title {
  font-size: var(--font-size-1);
}

.size {
  font-size: var(--font-size-4);
}

.quantity-label {
  font-size: var(--font-size-4);
  margin-right: 0.5em;
  cursor: pointer;
}

.quantity {
  width: 4.5rem;
  height: 3rem;
}

.horizontal-card .card-price {
  font-size: var(--font-size-3);
  font-weight: 600;
}

.horizontal-card .price-before {
  font-size: var(--font-size-4);
  text-decoration: line-through;
  opacity: 0.7;
  margin-right: 0.5rem;
}

.horizontal-card .price-discount {
  font-size: var(--font-size-6);
  color: var(--danger-color);
}

.card-action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-btn {
  font-size: var(--font-size-4);
  max-width: 15rem;
  width: 100%;
  margin: 0.5em;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
}

/* flexible card */
.flexible-card {
  max-width: 250px;
  margin-bottom: 2rem;
  position: relative;
  background-color: var(--secondary-color);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.flexible-card:hover {
  transform: translateY(-0.5rem);
}

.flexible-card > .card-body {
  padding: 0 1rem;
  margin: 0;
}

.flexible-card > .card-img img {
  width: 100%;
  object-fit: cover;
}

.flexible-card > .card-content {
  padding: 2rem;
}

.flexible-card > .card-head {
  display: block;
  margin-top: 0.5rem;
  padding: 0 1rem;
}

.flexible-card .card-title,
.flexible-card .card-rating,
.flexible-card .card-price {
  padding: 0.2rem;
}

.flexible-card .card-title {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-2);
}

.flexible-card .card-text {
  font-size: var(--font-size-4);
}

.flexible-card .card-price {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-3);
}

.flexible-card .price-before {
  font-size: var(--font-size-4);
  text-decoration: line-through;
  opacity: 0.7;
  margin-right: 0.5rem;
}

.flexible-card .price-discount {
  font-size: var(--font-size-6);
  color: var(--danger-color);
}

.flexible-card > .card-footer button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
  max-width: 100%;
  padding: 1rem;
}

/* STARS */
.stars {
  display: flex;
}

.horizontal-card .star,
.flexible-card .star {
  font-size: var(--font-size-4);
  margin-right: 0.2rem;
  color: var(--lynx-gray-color);
}

.star:last-child {
  margin-right: 0;
}

.star.star-filled {
  color: var(--orange-color);
}

.star.star-empty {
  color: var(--lynx-gray-color);
}

/* MEDIA QUERIES */

@media (max-width: 540px) {
  .horizontal-card {
    max-width: 45rem;
  }
}
